@keyframes animate {
  from {
    transform: rotateX(0);
  }

  to {
    transform: rotateX(150deg);
  }
}

@-ms-keyframes animate {
  from {
    -ms-transform: rotateX(0);
    transform: rotateX(0);
  }

  to {
    -ms-transform: rotateX(150deg);
    transform: rotateX(150deg);
  }
}

@-moz-keyframes animate {
  from {
    -moz-transform: rotateX(0);
    transform: rotateX(0);
  }

  to {
    -moz-transform: rotateX(150deg);
    transform: rotateX(150deg);
  }
}

@-webkit-keyframes animate {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }

  to {
    -webkit-transform: rotateX(150deg);
    transform: rotateX(150deg);
  }
}
